        body {
            background-color: #faf8fa;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-top: 20px;
        }

        .movie-backdrop {
            width: 100%;
            height: 400px;
            object-fit: cover;
            border-radius: 5px;
        }

        .movie-poster {
            width: 100%;
            border-radius: 5px;
        }

        .detalhes-container {
            margin-bottom: 80px;
        }

        .footer {
            background-color: #ebeaea;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 15px;
            border-top: 2px solid #d3d3d3;
            border-radius: 10px 10px 0 0;
        }