body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
}

.movie-card {
    margin-bottom: 20px;
}

.movie-poster {
    height: 300px;
    object-fit: cover;
}

.remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer {
    background-color: #ebeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border-top: 2px solid #d3d3d3;
    border-radius: 10px 10px 0 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}